.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #00bcd4!important;
}

.btn-outline-primary{
    color: #00bcd4!important;
    background-color: transparent!important;
    background-image: none!important;
    border-color: #00bcd4!important;
}

.btn-outline-primary:hover{
    background-color: #00bcd4!important;
    color: #FFF!important;
}
.btn_upload{
    display: inline-block;
    background-color: #00bcd4;
    color: white;
    padding: 3px 8px 3px 8px;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }