.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
    background-color: #00bcd4!important;
}

.btn-outline-primary{
    color: #00bcd4!important;
    background-color: transparent!important;
    background-image: none!important;
    border-color: #00bcd4!important;
}

.btn-outline-primary:hover{
    background-color: #00bcd4!important;
    color: #FFF!important;
}